body {
    margin: 0; /* PENTING: Menghapus margin default dari browser */
    font-family: "Poppins", sans-serif; /* Mengatur font default untuk seluruh aplikasi */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
